<div class="container">
    <div class="col-sm-3 p-0">
        <h3><a href="https://hindphotostate.com/banking-books-solved-paper">Banking BOOKS &amp; SOLVED  PAPER</a></h3>
        <ul>
            <li><a href="https://hindphotostate.com/banking-books-solved-paper/banking-books-solved-paper-sbi-cleark-ofice">SBI Cleark / Ofice</a></li>
            <li><a href="https://hindphotostate.com/banking-books-solved-paper/banking-books-solved-paper-rbi-exams">RBI Exams</a></li>
            <li><a href="https://hindphotostate.com/banking-books-solved-paper/banking-books-solved-paper-banking-intervew">Banking Intervew</a></li>
            <li><a href="https://hindphotostate.com/banking-books-solved-paper/banking-books-solved-paper-mat-books">MAT Books</a></li>
            <li><a href="https://hindphotostate.com/banking-books-solved-paper/banking-books-solved-paper-ibps-po-mt-so">IBPS PO / MT / SO</a></li>
            <li><a href="https://hindphotostate.com/banking-books-solved-paper/banking-books-solved-paper-ibps-clerk-ofice">IBPS Clerk /Ofice</a></li>
            <li><a href="https://hindphotostate.com/banking-books-solved-paper/banking-books-solved-paper-sbi-po-mt-so">SBI PO /MT / SO</a></li>
        </ul>
        <h3><a href="https://hindphotostate.com/other-refer-books">OTHER Refer Books</a></h3>
        <ul>
            <li><a href="https://hindphotostate.com/other-refer-books/other-refer-books-made-easy-next-ias-books">MADE EASY ; NEXT IAS Books</a></li>
            <li><a href="https://hindphotostate.com/other-refer-books/other-refer-books-kreatryx-electrical-text-books">Kreatryx Electrical Text Books</a></li>
            <li><a href="https://hindphotostate.com/other-refer-books/other-refer-books-made-easy-text-books">MADE EASY Text Books</a></li>
        </ul>
    </div>
    <div class="col-sm-3 p-0">
        <h3><a href="https://hindphotostate.com/ntse-mat-sat-books">NTSE / MAT / SAT BOOKS</a></h3>
        <ul>
            <li><a href="https://hindphotostate.com/ntse-mat-sat-books/ntse-mat-sat-books-ntse-books">NTSE Books</a></li>
            <li><a href="https://hindphotostate.com/ntse-mat-sat-books/ntse-mat-sat-books-studay-package-6th-class">Studay Package : 6th class</a></li>
            <li><a href="https://hindphotostate.com/ntse-mat-sat-books/ntse-mat-sat-books-study-package-7th">Study Package : 7th</a></li>
            <li><a href="https://hindphotostate.com/ntse-mat-sat-books/ntse-mat-sat-books-study-package-8th">Study Package : 8th</a></li>
            <li><a href="https://hindphotostate.com/ntse-mat-sat-books/ntse-mat-sat-books-studay-package-9th">Studay Package : 9th</a></li>
            <li><a href="https://hindphotostate.com/ntse-mat-sat-books/ntse-mat-sat-books-study-package-10th">Study Package : 10th</a></li>
        </ul>
        <h3><a href="https://hindphotostate.com/ies-gate-psus-study-material">IES / GATE / PSUs Study Material</a></h3>
        <ul>
            <li><a href="https://hindphotostate.com/ies-gate-psus-study-material/ies-gate-psus-study-material-study-material-package">STUDY MATERIAL &amp; PACKAGE</a></li>
        </ul>
        <h3><a href="https://hindphotostate.com/current-affair-books">CURRENT AFFAIR BOOKS</a></h3>
        <ul>
            <li><a href="https://hindphotostate.com/current-affair-books/current-affair">Current Affair</a></li>
        </ul>
    </div>
    <div class="col-sm-6 p-0">
        <h3><a href="https://hindphotostate.com/psu-recruitment-books-solved-paper">PSU Recruitment BOOKS &amp; SOLVED PAPER</a></h3>
        <div class="col-sm-6 p-0">
            <ul>
                <li><a href="https://hindphotostate.com/psu-recruitment-books-solved-paper/psu-recruitment-books-solved-paper-bsnl">BSNL</a></li>
                <li><a href="https://hindphotostate.com/psu-recruitment-books-solved-paper/psu-recruitment-books-solved-paper-dsssb-junior">DSSSB JUNIOR</a></li>
                <li><a href="https://hindphotostate.com/psu-recruitment-books-solved-paper/psu-recruitment-books-solved-paper-drdo-isro">DRDO ; ISRO</a></li>
                <li><a href="https://hindphotostate.com/psu-recruitment-books-solved-paper/psu-recruitment-books-solved-paper-uppcl">UPPCL</a></li>
                <li><a href="https://hindphotostate.com/psu-recruitment-books-solved-paper/psu-recruitment-books-solved-paper-indian-ordnance-factories">Indian Ordnance Factories</a></li>
                <li><a href="https://hindphotostate.com/psu-recruitment-books-solved-paper/psu-recruitment-books-solved-paper-fci-food-corporation-of-india">FCI : Food Corporation of India</a></li>
                <li><a href="https://hindphotostate.com/psu-recruitment-books-solved-paper/psu-recruitment-books-solved-paper-bpsc-bihar">BPSC (Bihar)</a></li>
                <li><a href="https://hindphotostate.com/psu-recruitment-books-solved-paper/psu-recruitment-books-solved-paper-sail">SAIL</a></li>
                <li><a href="https://hindphotostate.com/psu-recruitment-books-solved-paper/psu-recruitment-books-solved-paper-drdo-ceptam">DRDO CEPTAM</a></li>
            </ul>
        </div>
        <div class="col-sm-6 p-0">
            <ul>
                <li><a href="https://hindphotostate.com/psu-recruitment-books-solved-paper/psu-recruitment-books-solved-paper-coal-india">COAL INDIA</a></li>
                <li><a href="https://hindphotostate.com/psu-recruitment-books-solved-paper/psu-recruitment-books-solved-paper-dfccil-books">DFCCIL Books</a></li>
                <li><a href="https://hindphotostate.com/psu-recruitment-books-solved-paper/psu-recruitment-books-solved-paper-rpsc-rajasthan">RPSC (Rajasthan)</a></li>
                <li><a href="https://hindphotostate.com/psu-recruitment-books-solved-paper/psu-recruitment-books-solved-paper-airport-authority-of-india">Airport Authority of India</a></li>
            </ul>
            <h3><a href="https://hindphotostate.com/test-series">TEST SERIES</a></h3>
            <ul>
                <li><a href="https://hindphotostate.com/test-series/ies-mains-test-series-2018">IES MAINS Test Series 2018</a></li>
                <li><a href="https://hindphotostate.com/test-series/ies-preims-test-series-2019">IES PREIMS TEST SERIES 2019</a></li>
                <li><a href="https://hindphotostate.com/test-series/ies-mains-test-series-2019">IES MAINS Test Series 2019</a></li>
                <li><a href="https://hindphotostate.com/test-series/gate-test-series-2019">GATE  TEST SERIES 2019</a></li>
            </ul>
        </div>
    </div>
</div>